PORT=5000
NODE_ENV=production

MONGODB_URI=mongodb://localhost:27017/traffic_fine_system

JWT_SECRET=mySuperSecretKey123ChangeMeInProduction
JWT_EXPIRE=7d

TWILIO_ACCOUNT_SID=AC45e773756845cdec1f8aa1d6313d1b8b
TWILIO_AUTH_TOKEN=fddebbd582ada08720e88dcd2f35ce7e
TWILIO_PHONE_NUMBER=+17373034772